* {
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html {
}

body {
  background-color: white;
  -ms-overflow-style: none;
  overflow: hidden;

}

.word {
  font-size: 2em;
  font-family: monospace;
  color: red;
  display: inline-block;
  position: absolute;
}

.sentence {
  margin-left: 5%;
  margin-top: 10%;
  font-size: 2em;
  font-family: monospace;
  display: inline-block;
  position: absolute;

}

.word1 {
  margin-top: 10%;
  margin-left: 15%;

}

.wordD2 {
  margin-top: 9.5%;
  margin-left: 57%;

}

.word3 {
  margin-top: 12.5%;
  margin-left: 10%;

}

.wordD4 {
  margin-top: 14.5%;
  margin-left: 25%;

}

.word5 {

  margin-top: 15%;
  margin-left: 55%;

}
