* {
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html {
}

body {
  background-color: grey;
  -ms-overflow-style: none;
  overflow: hidden;

}

.sentence {
  width:90%;
  height:100%;
  margin-left: 5%;
  margin-top: 10%;
  font-size: 2em;
  font-family: monospace;
  display: inline-block;
  position: absolute;

}

.noun {
  color: red;
}
